/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background-color: #023047;
    font-family: 'Roboto', sans-serif;
}

.title{
    margin-top: 2rem;
}

.box{
    max-width: 600px;
    margin: auto;
}

.card{
    margin-top: 2rem;
    background-color: white;
}

.profile_img{
    width: 80px;
    height: 80px;

    
}

.round_img{
    border: 1px solid black; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}